{% extends 'logged.html.twig' %} {% block title %}Edit{% endblock %} {% block subtitle %}Edit{% endblock %} {% block
    body %}
    <h1>Edit Bellow</h1>
    <br>
    {{ form(case_form) }}
{% endblock %}