{% extends 'logged.html.twig' %} {% block title %}Calendar{% endblock %} {%
block subtitle %}Calendar{% endblock %} {% block body %}

<div class="container">
<div class="position-relative">
  <div class="float-right">
    <a class="btn btn-primary mx-4" type="button" href="{{ path('eventAdd') }}"
      >New Event</a
    >
  </div>
</div>
<br />

  <h3>Events</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {%for event in events %}
      <tr>
        <td><a href="{{ path('eventShow', {id: event.id}) }}">{{event.name}}</a></td>
        <td>{{event.StartDate|date}}</td>
        <td>{{event.DueDate|date}}</td>
        <td>
          <a
            type="button"
            href="{{
              path('eventEdit', {  id: event.id })
            }}"
            >Edit</a
          >
        </td>
        <td>
          <a
            type="button"
            href="{{
              path('eventRemove', { id: event.id })
            }}"
            >Delete</a
          >
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <br />
  <div class="position-relative">
    <div class="float-right">
      <a class="btn btn-primary mx-4" type="button" href="{{ path('todoNew') }}"
        >New Todo</a
      >
    </div>
  </div>
  <br />
  <h3>Todo</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {%for todo in todos %}
        {% if (todo.DueDate) < current %}
        <tr class="table-warning">
          <td><a href="{{ path('todo', {id: todo.id}) }}">{{todo.name}}</a></td>
          <td>{{todo.StartDate|date}}</td>
          <td>{{todo.DueDate|date}}</td>
          <td>
            <a
              type="button"
              href="{{
                path('todoEdit', {  id: todo.id })
              }}"
              >Edit</a
            >
          </td>
          <td>
            <a
              type="button"
              href="{{
                path('todoRemove', { id: todo.id })
              }}"
              >Delete</a
            >
          </td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{ path('todo', {id: todo.id}) }}">{{todo.name}}</a></td>
          <td>{{todo.StartDate|date}}</td>
          <td>{{todo.DueDate|date}}</td>
          <td>
            <a
              type="button"
              href="{{
                path('todoEdit', {  id: todo.id })
              }}"
              >Edit</a
            >
          </td>
          <td>
            <a
              type="button"
              href="{{
                path('todoRemove', {  id: todo.id })
              }}"
              >Delete</a
            >
          </td>
        </tr>
        {% endif %}
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}