{% extends 'logged.html.twig' %} {% block title %}Todo{% endblock %} {% block subtitle %}Todo{% endblock %} {% block
    body %}
<h1>Add new Event Below:</h1>
<br>
{{ form(case_form) }}
{% endblock %}