
{% extends 'logged.html.twig' %} {% block title %}Event{% endblock %} {% block subtitle %}Event{% endblock %} {% block
    body %}
    <div class="position-relative">
        <div class="float-right">
    <a href="{{ path('eventEdit', {id: event.id}) }}" class="btn btn-warning">Edit</a>
    <a href="{{ path('eventRemove', {id: event.id}) }}" class="btn btn-danger">Remove</a>
</div>
</div>
    <h1>Name</h1>
<p>{{event.name}}</p>

<h1>Date</h1>
<p>{{event.startdate|date}} - {{event.duedate|date}}</p>

<h1>Notes</h1>
    {%if event.notes %}
    <p>{{event.notes}}</p>
    {%else %}
    <p>No Notes Added</p>
    {% endif %}
{% endblock %}