{% extends 'logged.html.twig' %} {% block title %}Edit Template{% endblock %} {% block subtitle %}Edit Template{% endblock %} {% block
    body %}
<h1>Edit Template:</h1>
<br>
{{ form(case_form) }}
{% endblock %}