{% extends 'logged.html.twig' %} {% block title %}Templates{% endblock %} {%
block subtitle %}Templates{% endblock %} {% block body %}
<div class="position-relative">
  <div class="float-right">
    <a href="{{ path('templateNew') }}" class="btn btn-primary">New</a>
  </div>
  <br />

  <h1>Personal Statements</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">File</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templates %} {% if (template.staff == staff) and (template.global == 0) %}
      <tr>
        <td>
          <a href="{{ path('templateShow', { id: template.id }) }}">{{
            template.name
          }}</a>
        </td>
        <td>
          <a href="{{ asset('uploads/files/' ~ template.file) }}">{{
            template.file
          }}</a>
        </td>
        <td>
          <a href="{{ path('templateEdit', { id: template.id }) }}">Edit</a>
        </td>
        <td>
          <a href="{{ path('templateRemove', { id: template.id }) }}">Delete</a>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>

  <br /><br />

  <h1>Global</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">File</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templates %} {% if template.global %}
      <tr>
        <td>
          <a href="{{ path('templateShow', { id: template.id }) }}">{{
            template.name
          }}</a>
        </td>
        <td>
          <a href="{{ asset('uploads/files/' ~ template.file) }}">{{
            template.file
          }}</a>
        </td>
        <td>
          <a href="{{ path('templateEdit', { id: template.id }) }}">Edit</a>
        </td>
        <td>
          <a href="{{ path('templateRemove', { id: template.id }) }}">Delete</a>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}