{% extends 'logged.html.twig' %} {% block title %}New Template{% endblock %} {% block subtitle %}New Template{% endblock %} {% block
    body %}
<h1>Add new Template Item Below:</h1>
<br>
{{ form(case_form) }}
{% endblock %}