{% extends 'logged.html.twig' %} {% block title %}{{ template.name }}{% endblock
%} {% block body %}

<br />
<h1>{{ template.name }}</h1>
<br />
{% if template %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="{{ asset('uploads/files/' ~ template.file) }}">{{
          template.file
        }}</a>
      </td>
      <td>
        <a href="{{ path('templateEdit', { id: template.id }) }}">Edit</a>
      </td>
      <td>
        <a href="{{ path('templateRemove', { id: template.id }) }}">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
{% endif %} {% endblock %}
