{% extends 'logged.html.twig' %} {% block title %}Invoice Item{% endblock %} {%
block subtitle %}Invoice Item{% endblock %} {% block body %}
<h1>Add new Invoice Item:</h1>
<br />
{{ form(case_form) }}
{% endblock %}
