{% extends 'logged.html.twig' %} {% block title %}Invoice Item{% endblock %} {%
    block subtitle %}Invoice Item{% endblock %} {% block body %}
    <h1>Edit Invoice Item:</h1>
    <br />
    {{ form(case_form) }}
    {% endblock %}
    