{% extends 'logged.html.twig' %} {% block title %}Staff{% endblock %} {% block subtitle %}Staff{% endblock %} {% block
    body %}

<div class="position-relative">
        <div class="float-right">
          <a href="{{ path('editstaff', {id: staff.id}) }}" class="btn btn-warning">Edit</a>
          <a href="{{ path('removestaff', {id: staff.id}) }}" class="btn btn-danger">Remove</a>
  </div>


<h1>Personal Details</h1>

<h2>Name</h2>
<p>{{staff.Fname}} {{staff.Lname}}</p>


<h2>Phone</h2>
<p>{{staff.phone}}</p>

<h2>Address</h2>
<p>{{staff.address}}</p>
{% endblock %}
