{% extends 'base.html.twig' %} {% block title %}Home{% endblock %} {% block body
%}
<main>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Overview</h1>
      {% if app.user %}
      <p class="lead fw-normal"><b>You are already Logged In</b></p>
      <small>Do keep that this is for educational purposes so files and information will be deleted</small>
      <br>
      <a class="btn btn-outline-secondary" href="dashboard">Dashboard</a>
      {% else %}
      <p class="lead fw-normal">
        <b>Log in</b> to play around with the application with the login details
        given
      </p>
      <small>Do keep that this is for educational purposes so files and information will be deleted</small>
      <br>
      <a class="btn btn-outline-secondary" href="login">Login</a>
      {% endif %}
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
  </div>
  <h1 class="text-center border-bottom">Features</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
        >
          <div class="my-3 py-3">
            <h2 class="display-5">Manage Events</h2>
            <p class="lead">Manage Events upcoming events.</p>
          </div>
          <div
            class="bg-light shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
          ></div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
        >
          <div class="my-3 p-3">
            <h2 class="display-5">Manage Clients</h2>
            <p class="lead">
              Have a place to add details of clients you are working with.
            </p>
          </div>
          <div
            class="bg-dark shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
        >
          <div class="my-3 py-3">
            <h2 class="display-5">Manage Invoices</h2>
            <p class="lead">Know any unpaid invoices</p>
          </div>
          <div
            class="bg-light shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
          ></div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
        >
          <div class="my-3 p-3">
            <h2 class="display-5">Manage Cases</h2>
            <p class="lead">Get info of cases you are working on.</p>
          </div>
          <div
            class="bg-dark shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
          ></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
