{% extends 'logged.html.twig' %} {% block title %}Add new Case{% endblock %} {%
block body %}
<h1>Add New Case:</h1>
<br />
<div class="position-relative">
  <div class="position-absolute top-0 end-0">
    <i
      class="bi bi-info-circle position-absolute top-0 end-0"
      data-bs-toggle="tooltip"
      title="With 'Staff' you can select multiple staff with 'Ctrl+Left Click'"
    ></i>
  </div>
</div>
<br />
{{ form(case_form) }}

{% endblock %}
