{% extends 'logged.html.twig' %} {% block title %}Invoices{% endblock %} {%
block subtitle %}Invoices{% endblock %} {% block body %}
  <div class="position-relative">
    <div class="float-right">
      <a href="{{ path('invoiceNew') }}" class="btn btn-primary">New</a>
    </div>
    <br /><br />
    {% if invoices %}
    <div class="position-relative">
      <i
        class="bi bi-info-circle float-right"
        data-bs-toggle="tooltip"
        title="    Green: Are Paid Invoices
    White: Is Upcoming Invoices
    Yellow: Is upaid and old invocies"
      ></i>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Paid</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %} {% if invoice.paid %}
        <tr class="table-success">
          {% elseif invoice.DateOfIssue < date() %}
        </tr>

        <tr class="table-warning">
          {% else %}
        </tr>

        <tr class="table-light">
          {% endif %}
          <td>
            <a href="{{ path('invoiceShow', { id: invoice.id }) }}">{{
              invoice.name
            }}</a>
          </td>
          <td>{{invoice.DateOfIssue|date("d/m/Y") }}</td>
          {% if invoice.paid %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endblock %}
