{% extends 'logged.html.twig' %} {% block title %}Invoice{% endblock %} {% block
subtitle %}Invoice{% endblock %} {% block body %}
<h1>Add new Invoice:</h1>
<br />
{{ form(case_form) }}
{% endblock %}
