{% extends 'print.html.twig' %} {% block title %}Invoice{% endblock %} {% block
subtitle %}Invoice{% endblock %} {% block body %}
<div class="container">
  <p>{{ "now" | date("d F Y", false) }}</p>
  <br />
  <br />

  <div>
    <p>{{ client.Fname }} {{ client.LName }}</p>
    <p>{{ client.Address }}</p>
  </div>
  <br />
  <div>
    <h3>Statement:</h3>
    <p>Dated: {{ invoice.dateOfIssue | date("d F Y", false) }}</p>
    <p>Solicitor: {{ invoice.BilledStaffID }}</p>
  </div>
  <br />
  <br />
  <h1>Case Items:</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Rate</th>
        <th scope="col">Adjustments</th>
      </tr>
    </thead>
    <tbody>
      {%for invoiceitem in invoiceitems %}
      <tr>
        <td>{{ invoiceitem.description }}</td>
        <td>{{ invoiceitem.quantity }}</td>
        <td>{{ invoiceitem.rate }}</td>
        <td>{{ invoiceitem.adjusments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
