{% extends 'logged.html.twig' %} {% block title %}Invoice{% endblock %} {% block
subtitle %}Invoice{% endblock %} {% block body %}
<div class="position-relative">
  <div class="float-right">
    <a
    href="{{ path('invoicePrint', { id: invoice.id }) }}"
    class="btn btn-info"
    >Print</a
  >
    <a
      href="{{ path('invoiceEdit', { id: invoice.id }) }}"
      class="btn btn-warning"
      >Edit</a
    >
    <a
      href="{{ path('invoiceRemove', { id: invoice.id }) }}"
      class="btn btn-danger"
      >Remove</a
    >
  </div>
</div>
<h1>Name</h1>
<p>{{ invoice.name }}</p>

<h1>Date of Issue</h1>
<p>{{ invoice.dateOfIssue | date }}</p>

<h1>Paid</h1>
{%if invoice.paid %}
<p class="text-success"><i class="bi bi-check-circle"></i> Yes</p>
{%else %}
<p class="text-danger"><i class="bi bi-x"></i> No</p>
{%endif %}

<h1>Case Items:</h1>
<div class="position-relative">
  <div class="float-right">
    <a
      href="{{ path('invoiceItemNew', { invoiceid: invoice.id }) }}"
      class="btn btn-success"
      >New</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Rate</th>
      <th scope="col">Adjustments</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for invoiceitem in invoiceitems %}
    <tr>
      <td>{{ invoiceitem.description }}</td>
      <td>{{ invoiceitem.quantity }}</td>
      <td>{{ invoiceitem.rate }}</td>
      <td>{{ invoiceitem.adjusments }}</td>
      <td>
        <a
          type="button"
          href="{{
            path('invoiceItemEdit', { invoiceid: invoice.id, id: invoiceitem.id })
          }}"
          >Edit</a
        >
      </td>
      <td>
        <a
          type="button"
          href="{{
            path('invoiceItemRemove', { invoiceid: invoice.id, id: invoiceitem.id })
          }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
