{% extends 'logged.html.twig' %} {% block title %}Search{% endblock %} {% block
subtitle %}Search{% endblock %} {% block body %} {% if cases %}
<h1 class="border-bottom">Cases</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Client</th>
      <th scope="col">Staff</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for case in cases %}
    <tr>
      <td><a href="{{ path('case', {id: case.hashedId}) }}">{{case.name}}</a></td>
      <td><a href="{{ path('client', {caseid: case.ClientID}) }}">{{case.ClientID}}</a></td>
      <td><ul>
        {% for staff in case.Staff %}
        <li><a href="{{ path('staff', {id: staff.id}) }}">{{staff.fname}} {{staff.lname}} </a></li>
        {% endfor %}
      </ul></td>
      <td><a href="{{ path('editcase', {id: case.hashedId}) }}">Edit</a></td>
      <td><a href="{{ path('removecase', {id: case.hashedId}) }}">Delete</a></td>
    </tr>
  </a>
    {% endfor %}
  </tbody>
</table>

{% endif %} 

{% if caseitems %}
<h1 class="border-bottom">Cases</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">File</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for caseitem in caseitems %}
    <tr>
      <td>{{ caseitem.name }}</td>
      <td>{{ caseitem.file }}</td>
      <td>
        <a type="button" href="{{ path('editcase', { id: case.hashedId }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('removecase', { id: case.hashedId }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} 

{% if events %}
<h1 class="border-bottom">Events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ caseitem.file }}</td>
      <td>
        <a type="button" href="{{ path('editevent', { id: event.id }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('removeevent', { id: event.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} {% if invoices %}
<h1 class="border-bottom">Invoices</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Case</th>
      <th scope="col">Paid</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %} {% if invoice.paid %}
    <tr class="table-success">
      {% elseif invoice.DateOfIssue < date() %}
    </tr>

    <tr class="table-warning">
      {% else %}
    </tr>

    <tr class="table-light">
      {% endif %}
      <td><a href="{{path('invoiceadd')}}">{{ invoice.name }}</a></td>
      <td>{{invoice.DateOfIssue|date("d/m/Y") }}</td>
      <td><a href="http://">{{invoice.cases }}</a></td>
      {% if invoice.paid %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% if staffs %}
<h1 class="border-bottom">Staff</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for staff in staffs %}
    <tr>
      <td>{{ staff.Fname }} {{staff.Lname}}</td>
      <td>
        <a type="button" href="{{ path('editstaff', { id: staff.id }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('removestaff', { id: staff.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% if clients %}
<h1 class="border-bottom">Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ caseitem.file }}</td>
      <td>
        <a type="button" href="{{ path('editevent', { id: event.id }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('removeevent', { id: event.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
