{% extends 'logged.html.twig' %} {% block title %}Todo{% endblock %} {% block subtitle %}Todo{% endblock %} {% block
    body %}
    <h1>Edit Bellow</h1>
    <br>
    {{ form(case_form) }}
{% endblock %}