{% extends 'logged.html.twig' %} {% block title %}Todo{% endblock %} {% block subtitle %}Todo{% endblock %} {% block
    body %}
<div class="position-relative">
  <div class="float-right">
  <a href="{{ path('todoNew') }}" class="btn btn-primary">New</a>
</div>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date Due</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
<tbody>
    {% for todo in todos %}
    <tr>
      <td><a href="{{ path('todo', {id: todo.id}) }}">{{todo.name}}</a></td>
      <td>{{todo.DueDate|date}}</td>
      <td><a href="{{ path('todoEdit', {id: todo.id}) }}">Edit</a></td>
      <td><a href="{{ path('todoRemove', {id: todo.id}) }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
