
{% extends 'logged.html.twig' %} {% block title %}Todo{% endblock %} {% block subtitle %}Todo{% endblock %} {% block
    body %}
    <div class="position-relative">
        <div class="float-right">
    <a href="{{ path('todoEdit', {id: todo.id}) }}" class="btn btn-warning">Edit</a>
    <a href="{{ path('todoRemove', {id: todo.id}) }}" class="btn btn-danger">Remove</a>
</div>
</div>
    <h1>Name</h1>
<p>{{todo.name}}</p>

<h1>Date</h1>
<p>{{todo.startdate|date}} - {{todo.duedate|date}}</p>

<h1>Notes</h1>
    {%if todo.note %}
    <p>{{todo.note}}</p>
    {%else %}
    <p>No Notes Added</p>
    {% endif %}
{% endblock %}