<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %} {# 'app' must match the first argument to addEntry()
    in webpack.config.js #}
    {{
      encore_entry_link_tags("app")
    }}

    {% endblock %}
  </head>
  <body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/" tabindex="-1" aria-disabled="true">Home</a>
      </li>
      {% if app.user %}
      <li class="nav-item">
        <a class="nav-link" href="dashboard" tabindex="-1" aria-disabled="true"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout" tabindex="-1" aria-disabled="true"
          >logout</a
        >
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="login" tabindex="-1" aria-disabled="true"
          >Login</a
        >
      </li>
      {% endif %}
    </ul>
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>
