<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %} {# 'app' must match the first argument to addEntry()
    in webpack.config.js #}
    {{
      encore_entry_link_tags("app")
    }}

    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block shadow sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <div class="container">
          <div class="row">
            <div class="col border">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ path('dashboard') }}"
              >
                <i class="bi bi-house-door"></i>
                Dashboard
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <a class="nav-link" href="{{ path('calendar') }}">
                <i class="bi bi-calendar"></i>
                Calendar
              </a>
            </div>
            <div class="col-5 border">
              <a class="nav-link" href="{{ path('eventAdd') }}">
                <i class="bi bi-plus-circle"></i> Add
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <a class="nav-link" href="{{ path('cases') }}">
                <i class="bi bi-card-list"></i>
                Cases
              </a>
            </div>
            <div class="col-5 border">
              <a class="nav-link" href="{{ path('addcase') }}">
                <i class="bi bi-plus-circle"></i> Add
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <a class="nav-link" href="{{ path('invoices') }}">
                <i class="bi bi-journals"></i>
                Invoices
              </a>
            </div>
            <div class="col-5 border">
              <a class="nav-link" href="{{ path('invoiceNew') }}">
                <i class="bi bi-plus-circle"></i> Add
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <a class="nav-link" href="{{ path('templates') }}">
                <i class="bi bi-list-task"></i>
                Templates
              </a>
            </div>
            <div class="col-5 border">
              <a class="nav-link" href="{{ path('todoNew') }}">
                <i class="bi bi-plus-circle"></i> Add
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom shadow"
      >
        <h1 class="h2 ps-4">{% block subtitle %}{% endblock %}</h1>
        <form
          class="container-fluid"
          action="{{ path('search') }}"
          method="GET"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search"
              name="search"
            />
          </div>
        </form>
        <a class="nav-link" href="{{ path('app_logout') }}" tabindex="-1" aria-disabled="true"
          >logout</a
        >
      </div>
      <div class="container">
      {% block body %}{% endblock %} 
    </div> 
    {% block javascripts %}{% endblock %}
    </div>
  </div>
  </body>
</html>
