<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {% for path in encore_entry_css_files('app') %}
    <link rel="stylesheet" href="{{ absolute_url(path) }}">
    {% endfor %}

    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>
