{% extends 'logged.html.twig' %} {% block title %}Cases{% endblock %} {% block subtitle %}Cases{% endblock %} {% block
    body %}
    <div class="position-relative">
      <div class="float-right">
      <a class="btn btn-primary" type="button" href="{{ path('addcase') }}">New Case</a>
    </div>
    </div>
    <br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Client</th>
            <th scope="col">Staff</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for case in cases %}
          <tr>
            <td><a href="{{ path('case', {id: case.hashedId}) }}">{{case.name}}</a></td>
            <td><a href="{{ path('client', {caseid: case.ClientID}) }}">{{case.ClientID}}</a></td>
            <td><ul>
              {% for staff in case.Staff %}
              <li><a href="{{ path('staff', {id: staff.id}) }}">{{staff.fname}} {{staff.lname}} </a></li>
              {% endfor %}
            </ul></td>
            <td><a href="{{ path('editcase', {id: case.hashedId}) }}">Edit</a></td>
            <td><a href="{{ path('removecase', {id: case.hashedId}) }}">Delete</a></td>
          </tr>
        </a>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}