{% extends 'logged.html.twig' %} {% block title %}Add new Case{% endblock %} {% block subtitle %}Case{% endblock %} {%
block body %}
<h1>Add New Case:</h1>
<br />
<br />
{{ form(case_form) }}

{% endblock %}
