{% extends 'logged.html.twig' %} {% block title %}{%if case %}{{ case.name }}{%endif%}{% endblock %}
{% block body %}

<h1>Client</h1>
<p>
  Name:
  <a href="{{ path('client', { caseid: case.ClientID }) }}">{{
    case.ClientID
  }}</a>
</p>

<h1>Case Items</h1>
<div class="position-relative">
  <div class="float-right">
    <a
      class="btn btn-primary"
      type="button"
      href="{{ path('newcaseitem', { id: case.hashedId }) }}"
      >New Case Item</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">File</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for caseitem in caseitems %}
    <tr>
      <td>{{ caseitem.name }}</td>
      <td>
        <a href="{{ asset('uploads/files/' ~ caseitem.file) }}">{{
          caseitem.file
        }}</a>
      </td>
      <td>
        <a
          type="button"
          href="{{
            path('editcaseitem', { id: case.hashedId, item: caseitem.id })
          }}"
          >Edit</a
        >
      </td>
      <td>
        <a
          type="button"
          href="{{
            path('removecaseitem', { id: case.hashedId, item: caseitem.id })
          }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Invoices</h1>
<div class="position-relative">
  <div class="float-right">
    <a class="btn btn-primary" type="button" href="{{ path('invoiceNew') }}"
      >New Invoice</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for invoice in invoices %}
    <tr>
      <td>
        <a type="button" href="{{ path('invoiceShow', { id: invoice.id }) }}">{{
          invoice.name
        }}</a>
      </td>
      <td>
        <a type="button" href="{{ path('invoiceEdit', { id: invoice.id }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('invoiceRemove', { id: invoice.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Events</h1>
<div class="position-relative">
  <div class="float-right">
    <a class="btn btn-primary" type="button" href="{{ path('eventAdd') }}"
      >New Event</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for eventitem in events %}
    <tr>
      <td>
        <a type="button" href="{{ path('eventShow', { id: eventitem.id }) }}">{{
          eventitem.name
        }}</a>
      </td>
      <td>
        <a type="button" href="{{ path('eventEdit', { id: eventitem.id }) }}"
          >Edit</a
        >
      </td>
      <td>
        <a type="button" href="{{ path('eventRemove', { id: eventitem.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Todo</h1>
<div class="position-relative">
  <div class="float-right">
    <a class="btn btn-primary" type="button" href="{{ path('todoNew') }}"
      >New Todo Item</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {%for todo in todos %}
    <tr>
      <td>
        <a type="button" href="{{ path('todo', { id: todo.id }) }}">{{
          todo.name
        }}</a>
      </td>
      <td>
        <a type="button" href="{{ path('todoEdit', { id: todo.id }) }}">Edit</a>
      </td>
      <td>
        <a type="button" href="{{ path('todoRemove', { id: todo.id }) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
