{% extends 'logged.html.twig' %} {% block title %}Dashboard{% endblock %} {%
block subtitle %}Dashboard{% endblock %} {% block body %}
<div class="container">
  <h1>Hello {{ StaffName }}, Here are your upcoming events:</h1>
  <br />
  <div class="row">
    <div class="col border rounded">
      <h3 class="border-bottom">
        <i class="bi bi-calendar-event"></i> Upcoming Events
      </h3>
      {% for case in cases %} {% for event in case.events %}
      <a
        href="{{ path('eventShow', { id: event.id }) }}"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <p>{{ event.name }}</p>
            </div>
            <div class="col">
              <p>{{ event.startDate | date }}</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %} {% endfor %}
    </div>
    <div class="col border rounded">
      <h3 class="border-bottom">
        <i class="bi bi-calendar2-event"></i> Upcoming Todo
      </h3>

      {% for todo in todos %}
      <a
        href="{{ path('todo', { id: todo.id }) }}"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <p>{{ todo.name }}</p>
            </div>
            <div class="col">
              <span class="badge badge-pill badge-primary"
                >{{ date(todo.DueDate | date).diff(date()).days }} Days</span
              >
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="col border rounded">
      <h3 class="border-bottom">
        <i class="bi bi-calendar4-event"></i> Unpaid Invoices
      </h3>

      {% for invoice in invoices %} {% if not invoice.Paid %}
      <a
        href="{{ path('invoiceShow', { id: invoice.id }) }}"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <p>{{ invoice.name }}</p>
            </div>
            <div class="col">
              <span class="badge badge-pill badge-primary"
                >{{ date(invoice.DateOfIssue | date).diff(date()).days }} Days
                Difference</span>
            </div>
          </div>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}