{% extends 'logged.html.twig' %} {% block title %}Cases{% endblock %} {% block subtitle %}Cases{% endblock %} {% block
  body %}

  <div class="position-relative">
        <div class="float-right">
          <a href="{{ path('clientEdit', {id: client.id}) }}" class="btn btn-warning">Edit</a>
          <a href="{{ path('clientRemove', {id: client.id}) }}" class="btn btn-danger">Remove</a>
  </div>
  <br>
<div>

</div>

<h1>Personal Details</h1>
<h2>First Name</h2>
{{client.Fname}}
<h2>Last Name</h2>
{{client.Lname}}
<br>
<h1>Contact Details</h1>
{%if client.mobile %}
  <h2>Mobile</h2>
  {{client.mobile}}
{% endif %}
{%if client.phone %}
  <h2>Phone Number</h2>
  {{client.phone}}
{% endif %}
{%if client.email %}
  <h2>Email</h2>
  {{client.email}}
{% endif %}
{%if client.notes %}
<h1>Notes</h1>
<p>{{client.notes}}</p>
{% endif %}
{% endblock %}